ENV=dev

COMPOSE_PATH_SEPARATOR=:
COMPOSE_PROJECT_NAME=xflow

# API Gateway
API_GATEWAY_PORT=8080

# Auth Service
AUTH_SERVICE_PORT=8081
EXPIRATION_MS=3600000
AUTH_MAX_FAILED_ATTEMPTS=3
AUTH_LOCKOUT_DURATION_MS=3600000
ANONYMOUS_TOKEN_TTL_HOURS=24
AUTH_ANON_MAX_ATTEMPTS=5
AUTH_ANON_LOCKOUT_DURATION_MS=3600000

# PostgreSQL
POSTGRES_DB=xflow
POSTGRES_USER=xflow
POSTGRES_PASSWORD=xflow
POSTGRES_PORT=5432
POSTGRES_PORT_EXT=5433

# Redis
REDIS_PORT=6379
